.body_login {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;

    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    }

    .main {
        width: 350px;
        height: 500px;
        background: red;
        overflow: hidden;
        background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
        border-radius: 10px;
        box-shadow: 5px 20px 50px #000;
    }

    #chk {
        display: none;
    }

    .signup {
        position: relative;
        width: 100%;
        height: 100%;
    }

    input {
        justify-content: center;
        display: flex;
    }

    .btn-primary {
        width: 60%;
        height: 40px;
        margin: 10px auto;
        justify-content: center;
        display: block;
        color: #fff;
        font-size: 1em;
        font-weight: bold;
        outline: none;
        border: none;
        transition: .2s ease-in;
        cursor: pointer;
    }

    .card-body {
        padding: 1rem 1.5rem !important;
        border-radius: 1rem;
        width: 100%;
        box-shadow: 0px 0px 12px 0px #DDE2E9;
    }

    .card {

        background: transparent;
    }

    .btn-primary:hover {
        background: #6d44b8;
    }

    .oe_login_form,
    .oe_signup_form,
    .oe_reset_password_form {
        max-width: 300px;
        position: relative;
        margin: 12px auto;
    }

    .card-body {
        color: #212529;
        max-height: 28rem;
        margin: auto;
    }

    .login {
        height: 460px;
        background: #eee;
        border-radius: 60% / 10%;
        transform: translateY(-180px);
        transition: .8s ease-in-out;
    }

    .login label {
        color: #573b8a;
        transform: scale(.6);
    }

    #chk:checked~.login {
        transform: translateY(-500px);
    }

    #chk:checked~.login label {
        transform: scale(1);
    }

    #chk:checked~.signup label {
        transform: scale(.6);
    }

    .login_button {
        background-color: #333333;
        width: 10rem;
        color: white !important;
    }

    .login_button:hover {

        width: 10rem;
        background-color: #808080;
        color: black;
    }

    .email_div .email_input:focus {
        box-shadow: none;
    }

    .password_div .password_input:focus {
        box-shadow: none;
    }

    .card {
        // margin-top: 10px;
        padding: 3%;
        max-width: 40vw;
        min-width: 40vw;
    }

    .input-group {
        display: flex;
        align-items: center;
    }

    .icon {
        margin-right: 10px;
    }

    .email-input {
        padding: 10px;
        border: 0;
        width: 300px;
        font-size: 16px;
    }

    .email_div {
        display: flex;
        border: 1px solid black;
        border-radius: 5px;
    }

    .email_div .icon {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
        font-size: large;
    }

    .password_div {
        display: flex;
        border: 1px solid black;
        border-radius: 5px;
    }

    .password_div .icon {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
        font-size: large;
    }

    .login-form .icon {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #333;
    }

    @media only screen and (max-width: 600px) {

        #bcard {
            padding: 3%;
            background-color: transparent !important;
            height: 100%;
            max-width: 90vw !important;
            min-width: 85vw !important;
        }

        .card {
            padding: 3%;
            max-width: 90vw !important;
            min-width: 85vw !important;
        }
    }
}